In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/replay_data/transformed_replay_data_win_probability/dsk_200k_games.csv', nrows = 100)

In [3]:
def display_game_state(turn_row):
    """
    Displays an ASCII-style game state with card names inside boxes for both the opponent and user.
    - turn_row: DataFrame, a single game state row
    """
    print('turn row:', turn_row)
    print('turn_row dtype:', turn_row.dtypes)
    # Helper function to create a box for a card
    def card_box(card_name):
        return f"[{card_name:^5}]"  # Center-align the card name in the box

    # Extract scalar values safely using .iloc[0]
    turn = int(turn_row['turn'].iloc[0])
    oppo_life = float(turn_row['oppo_life'].iloc[0])
    user_life = float(turn_row['user_life'].iloc[0])
    oppo_cards_in_hand = int(turn_row['oppo_cards_in_hand'].iloc[0])
    oppo_lands_in_play = int(turn_row['oppo_lands_in_play'].iloc[0])
    user_lands_in_play = int(turn_row['user_lands_in_play'].iloc[0])

    # Opponent's life and cards
    print(f"Turn {turn}")
    print(f"Opponent Life: {oppo_life}")
    print("Opponent Hand:")
    print(" ".join([card_box("???") for _ in range(oppo_cards_in_hand)]))  # Hidden cards
    print("Opponent Lands:")
    print(" ".join([card_box("Land") for _ in range(oppo_lands_in_play)]))  # Opponent's lands

    # Filter columns matching 'oppo_creature_<n>' and 'oppo_noncreature_<n>'
    oppo_creature_columns = [col for col in turn_row.columns if 'oppo_creature' in col]
    oppo_noncreature_columns = [col for col in turn_row.columns if 'oppo_noncreature' in col]

    # Extract non-null creature and non-creature names
    oppo_creatures = turn_row[oppo_creature_columns].iloc[0].dropna().values  # Filter out NaN
    oppo_noncreatures = turn_row[oppo_noncreature_columns].iloc[0].dropna().values

    # Format and display the opponent's board
    oppo_creature_print = " ".join([card_box(card) for card in oppo_creatures])
    oppo_noncreature_print = " ".join([card_box(card) for card in oppo_noncreatures])
    oppo_in_play_row = f"{oppo_creature_print}  ||  {oppo_noncreature_print}"
    print("Opponent Board:")
    print(oppo_in_play_row)

    print("\n" + "=" * 30 + "\n")  # Separator

    user_creature_columns = [col for col in turn_row.columns if 'user_creature' in col]
    user_noncreature_columns = [col for col in turn_row.columns if 'user_noncreature' in col]

    user_creatures = turn_row[user_creature_columns].iloc[0].dropna().values  # Filter out NaN
    user_noncreatures = turn_row[user_noncreature_columns].iloc[0].dropna().values

    user_creature_print = " ".join([card_box(card) for card in user_creatures])
    user_noncreature_print = " ".join([card_box(card) for card in user_noncreatures])
    user_in_play_row = f"{user_creature_print}  ||  {user_noncreature_print}"

    print(user_in_play_row)
    print("User Board:")
 
    
    user_lands = " ".join([card_box("Land") for _ in range(user_lands_in_play)])
    print(user_lands)
    print('User Lands:')
    user_hand_columns = [col for col in turn_row.columns if 'user_hand' in col]
    user_hand = turn_row[user_hand_columns].iloc[0].dropna().values
    user_hand_print = " ".join([card_box(card) for card in user_hand])
    print(user_hand_print)
    print('User Hand:')
    print(f"User Life: {user_life}")
    # Filter columns matching 'user_creature_<n>' and 'user_noncreature_<n>'
    user_creature_columns = [col for col in turn_row.columns if 'user_creature' in col]
    user_noncreature_columns = [col for col in turn_row.columns if 'user_noncreature' in col]

    # Extract non-null creature and non-creature names for the user
    user_creatures = turn_row[user_creature_columns].iloc[0].dropna().values  # Filter out NaN
    user_noncreatures = turn_row[user_noncreature_columns].iloc[0].dropna().values

    # Format and display the user's board
    user_creature_print = " ".join([card_box(card) for card in user_creatures])
    user_noncreature_print = " ".join([card_box(card) for card in user_noncreatures])

In [4]:
data.head()

,game_id,turn,on_play,won,user_hand_1,user_hand_2,user_hand_3,user_hand_4,user_hand_5,user_hand_6,...,oppo_non_creatures_12,oppo_non_creatures_13,oppo_non_creatures_14,oppo_non_creatures_15,oppo_non_creatures_16,oppo_non_creatures_17,oppo_non_creatures_18,oppo_non_creatures_19,oppo_non_creatures_20,oppo_life
0,53401b113a4f425fa26e60edd314dd27,1,True,True,0.555,0.541,0.551,0.558,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
1,53401b113a4f425fa26e60edd314dd27,2,True,True,0.559,0.555,0.551,0.558,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
2,53401b113a4f425fa26e60edd314dd27,3,True,True,NaN,0.559,0.555,0.551,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0
3,53401b113a4f425fa26e60edd314dd27,4,True,True,0.555,0.551,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
4,53401b113a4f425fa26e60edd314dd27,5,True,True,0.555,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [7]:
data

,game_id,turn,on_play,won,user_hand_1,user_hand_2,user_hand_3,user_hand_4,user_hand_5,user_hand_6,...,oppo_non_creatures_12,oppo_non_creatures_13,oppo_non_creatures_14,oppo_non_creatures_15,oppo_non_creatures_16,oppo_non_creatures_17,oppo_non_creatures_18,oppo_non_creatures_19,oppo_non_creatures_20,oppo_life
0,53401b113a4f425fa26e60edd314dd27,1,True,True,0.555,0.541,0.551,0.558,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
1,53401b113a4f425fa26e60edd314dd27,2,True,True,0.559,0.555,0.551,0.558,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
2,53401b113a4f425fa26e60edd314dd27,3,True,True,NaN,0.559,0.555,0.551,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0
3,53401b113a4f425fa26e60edd314dd27,4,True,True,0.555,0.551,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
4,53401b113a4f425fa26e60edd314dd27,5,True,True,0.555,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,d26766b56fd14670ba60c2604bcd457b,8,True,False,0.549,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0
96,d26766b56fd14670ba60c2604bcd457b,9,True,False,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
97,919165f204984394a1eb10c3150a8fea,1,True,True,NaN,0.544,NaN,NaN,0.563,0.544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
98,919165f204984394a1eb10c3150a8fea,2,True,True,0.562,NaN,0.544,NaN,0.563,0.544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0
99,919165f204984394a1eb10c3150a8fea,3,True,True,NaN,0.562,NaN,0.544,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0